<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sleep_health</title>
    <link rel="stylesheet" href="../static/CSS.css">
    <script>
        // 페이지가 로드될 때 로컬 스토리지에서 점수를 가져오는 함수
        window.onload = function() {
            const sleepScore = localStorage.getItem('sleepScore');
            if (sleepScore) {
                document.getElementById('sleepScore').textContent = `당신의 수면 점수: ${sleepScore}`;
            }
        };
    </script>
</head>
<body>
    <div class="top-bar">
        <div class="sleep-score" id="sleepScore">당신의 수면 점수: 0</div>
        <h1 onclick="window.location.href = '/'">수면 품질 예측기</h1>
        <p onclick="window.location.href = '/sleep_health'">수면에 대하여</p>
    </div>
    <div class="content">
        <h1>수면부족 질환</h1>
        <h2>당뇨</h2>
        <p>아무리 건강한 성인이라도 며칠을 연속으로 적정 시간 잠을 자지 못한다면 바로 예비 당뇨병 환자 진단을 받을 수 있다. 충분히 혈당 수치 조절을 어렵게 만들기 때문이다.</p>
        
        <h2>면역</h2>
        <p>수면이 부족한 사람에게는 백신도 효과가 낮다. 수면 부족이 면역 체계의 작용을 억제해 감염의 위험을 증가시키기 때문이다. 한 연구에 따르면 7시간보다 적게 잔 참가자들이 그렇지 않은 참가자들보다 감기에 걸릴 확률이 3배 이상 높다고 발표했다.</p>
        
        <h2>비만</h2>
        <p>잠이 부족한 사람은 배고픔을 느끼게 하는 그렐린 호르몬이 과잉 생산된다. 반대로 포만감을 느끼게 해주는 렙틴 호르몬을 너무 적게 생산된다. 이는 잠이 부족한 사람의 비만 위험을 높인다.</p>
        
        <h2>뇌진탕 / 치매</h2>
        <p>수면 부족은 뇌 기능의 저하 그리고 치매와도 연관성이 있다. 셰인 교수의 설명에 따르면 우리의 뇌는 깨어있는 동안 유해물질이 축적되고, 잠을 잘 때 그 물질을 배출한다. 그렇기 때문에 잠을 충분히 자지 않으면 가벼운 뇌진탕에 걸린 것이나 다름없는 상태가 된다.</p>

        <div class="summary">
            <h2>정리하면</h2>
            <p>인지 기능 저하 / 치매 확률 증가</p>
            <p>면역력 저하 / 감기 확률 증가</p>
            <p>예방 접종의 효과 저하</p>
            <p>심혈관 질환의 위험</p>
            <p>혈당 조절, 2형 당뇨병의 위험</p>
            <p>비만 위험</p>
            <p>등이 있다. 그렇기 때문에 잠을 잘 자는 것은 아주 중요하다고 할 수 있다.</p>
        </div>
        <br><br>
        <h1>수면 장애</h1>
        <h2>불면증</h2>
        <p>불면증이란 잠들기까지 너무 오래 걸리거나, 잠 든 후 자주 깨거나, 새벽에 너무 일찍 깨어 다시 잠들기 어렵거나, 자고 일어나도 개운하지 않은 상태를 말합니다.</p>

        <h2>수면호흡장애</h2>
        <p>자는 도중 호흡이 멈추거나 호흡이 얕아지는 사건이 반복적으로 나타나는 질환으로, 폐쇄성 수면무호흡증이 가장 대표적입니다.</p>

        <h2>수면과다증</h2>
        <p>수면과다증은 과도한 주간 졸림을 특징으로 하며, 대표적으로 기면증, 행동으로 유발된 수면부족증후군(Behaviorally induced insufficient sleep)이 이에 속합니다.</p>

        <h2>수면-각성주기의 장애</h2>
        <p>우리 몸의 생체시계 리듬이 환경의 밤낮 리듬과 일치하지 않아 적절한 시간대에 잠을 잘 수 없고, 깨어있고자 하는 시간대에는 과도한 졸림이 생기는 상태입니다.</p>

        <h2>사건수면</h2>
        <p>사건수면이란 우리가 잠자는 도중이나 잠이 덜 깬 상태에서 일어나는 비정상적인 행동이나 생리적 사건을 말합니다.</p>

        <br>
        <p>이러한 수면 장애들은 우리 수면의 질을 떨어뜨리는 원인이 됩니다.</p>
    </div>
</body>
</html>